/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 50px;
  box-shadow: 10px 10px 5px #888888;
  border-style: solid;
  border-width: small;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2274D7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  color: white;
  content: "7e";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: #FE8D00;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2274D7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FE8D00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "8e";
  color: white;
}
